# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
venv/
env/
.venv/
myenv/

# Env files
.env
*.env
backend/.env

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite3
*.db

# Node
node_modules/

# Frontend build
frontend/dist/
frontend/build/

# Keep .env example only
.env.example
